<button onclick={{this.getGHAWorkflows}}>Get list of workflows</button>

<ul>
  {{#each this.workflows as |workflow|}}
    <li>
        <b>{{workflow.name}}</b>
        {{#if (eq workflow.name 'User deployment')}}
          <button onclick={{fn this.onDeployWorkflow workflow.id}}>Deploy!</button>
        {{/if}}
    </li>
  {{/each}}
</ul>